{% extends 'dashboard_base.html' %}
{% load static %}

{% block title %}Dashboard-Guidelines{% endblock %}

{% block body %}
    <section class="text-maroon font-medium pb-20">
        <h1 class="text-4xl font-bold mb-6">VOTING GUIDELINES</h1>
    
        <div class="px-6">
            <h1 class="font-semibold py-2">Welcome to Elected!</h1>
            <p>
                We are committed to providing a secure, transparent and user friendly voting platform. Please take a moment to read through
                the guidelines below to ensure a smooth voting experience.
            </p>

            <div class="mt-4">
                <h1 class="font-semibold py-2">1. Prepare to Vote</h1>
                <p class="px-2">・Ensure that you are eligible to participate in the current election.</p>
                <p class="px-2">・Have your credentials ready, such as your username and passowrd or voter ID.</p>
            </div>

            <div class="mt-2">
                <h1 class="font-semibold py-2">2. Accessing the Ballot</h1>
                <p class="px-2">・Log in to your Elected account.</p>
                <p class="px-2">・Navigate to the "Current Elections" section to find the active ballot.</p>
                <p class="px-2">・Review the list of candidates or options available for voting.</p>
            </div>

            <div class="mt-2">
                <h1 class="font-semibold py-2">3. Casting Your Vote</h1>
                <p class="px-2">・Select your preferred candidates or options by clicking on them.</p>
                <p class="px-2">・Check your choices to make sure they're correct.</p>
                <p class="px-2">・Once you're confident, click "Submit" to finalize your vote.</p>
            </div>

            <div class="mt-2">
                <h1 class="font-semibold py-2">4. Confirming Your Vote</h1>
                <p class="px-2">・After submission, you will see a confirmation message indicating that your vote was successfully recorded.</p>
                <p class="px-2">・Remember, once your vote is submitted, it cannot be changed.</p>
            </div>

            <div class="mt-2">
                <h1 class="font-semibold py-2">5. Maintaining Anonymity and Security</h1>
                <p class="px-2">・Your vote is anonymous-no one, not even administrators, can see who you voted for.</p>
                <p class="px-2">・Do not share your account information with anyone. If you suspect any suspicious activity, contact support immediately.</p>
            </div>

            <div class="mt-2">
                <h1 class="font-semibold py-2">6. Respectful Voting Conduct</h1>
                <p class="px-2">・Vote independently and avoid outside influences.</p>
                <p class="px-2">・Respect others' choices and do not attempt to view or interfere with others' votes.</p>
            </div>

            <div class="mt-2">
                <h1 class="font-semibold py-2">7. Getting Assistance</h1>
                <p class="px-2">・If you encounter issues accessing the ballot or submitting your vote, reach out to support or refer to the FAQs for help.</p>
            </div>
        </div>
        
    </section>
{% endblock %}