{% extends 'base.html' %}
{% load static %}
{% block title %}About Us {% endblock %}

{% block content %}
<section class='flex flex-col justify-center py-12 xl:py-0'>
    <div class="absolute inset-0 w-full h-full -z-10">
        <img 
            src="{% static 'landingpics/teamfogi.png' %}" 
            alt="Contact Us Background" 
            class="object-cover w-full mt-6"
        />
    </div>
      <!-- {/* ABOUT US TEXT */} -->
    <div class='container flex flex-col items-center justify-center gap-8 mx-auto mt-8 pt-24 pb-24 text-center'>
        <h1 class='text-6xl font-bold text-maroon pt-2'>About Us</h1>
        <p class='text-3xl font-semibold'>
            <span class='text-maroon'>ElectEd</span> is an <span class='text-maroon'>Advanced Online Voting Platform </span> 
            built for educational institutions. Our mission is to empower students with a secure, transparent, and easy-to-use system 
            that brings the entire election process online.
        </p>
    </div>



    <!-- {/* MEET THE TEAM  */} -->
    <div class='flex flex-col items-center justify-center gap-3 pt-20 text-center bg-gradient-to-r from-dmaroon to-maroon text-white2'>
        <h1 class='text-6xl font-bold'>Meet the Team</h1>

        <p class='text-2xl mb-14 font-medium w-[45%]'>
            Our core team of voting software experts 
            empowers you to run secure, efficient elections online with ElectEd.
        </p>

        <!-- {/* CARDS */} -->
        <div class='container grid w-3 grid-cols-1 gap-8 mb-28 px-28 xl:grid-cols-3'>
            <!-- CARD1 -->
            <div class="flex flex-col items-center justify-center px-8 py-10 my-4 text-center bg-white2 rounded-xl text-maroon">
                <!-- CONTAINER -->
                <div class="w-40 h-40 mb-10 overflow-hidden border-4 rounded-full border-maroon py10">
                    <img src="{% static 'landingpics/nico.png' %}" class="" alt="">
                </div>
        
                <h1 class='mt-6 text-2xl font-bold bg-white'>Jan Edward Abadiano</h1>
            </div>
            

            <!-- CARD2 -->
            <div class="flex flex-col items-center justify-center px-8 py-10 my-4 text-center bg-white2 rounded-xl text-maroon">
                <!-- CONTAINER -->
                <div class="flex justify-center w-40 h-40 mb-10 overflow-hidden border-4 rounded-full border-maroon py10">
                    <img src="{% static 'landingpics/jl.png' %}" class="" alt="">
                </div>
        
                <h1 class='mt-6 text-2xl font-bold bg-white'>John Loi Carreon</h1>
            </div>

            <!-- CARD3 -->
            <div class="flex flex-col items-center justify-center px-8 py-10 my-4 text-center bg-white2 rounded-xl text-maroon">
                <!-- CONTAINER -->
                <div class="w-40 h-40 mb-10 overflow-hidden border-4 rounded-full border-maroon py10">
                    <img src="{% static 'landingpics/jm.png' %}" class="" alt="">
                </div>
        
                <h1 class='mt-6 text-2xl font-bold bg-white'>John Mark Econar</h1>
            </div>
        </div>

    </div>



    <!-- {/* HOW WE WORK */} -->
    <div class='w-full pt-24 bg-white2 text-maroon'>
        <h1 class='mb-20 text-6xl font-bold text-center'>How We Work</h1>
        <!-- {/* 3DIVS */} -->
        <div class='flex flex-col justify-center gap-20 mx-20 mb-20 xl:flex-row'>
            <!-- {/* FIRST */} -->
            <div class='flex flex-col items-center w-full text-center'>
                <img src="{% static 'icons/check.svg' %}" class="mb-4" alt="">
                <h1 class='mb-2 text-3xl font-semibold'>
                    Our Approach    
                </h1>
                <p class='text-xl font-medium'>
                    At ElectEd, we combine cutting-edge technology with a deep understanding of educational needs to deliver a 
                    voting platform that is both secure and user-friendly. Our approach focuses on simplicity, reliability, and 
                    accessibility, ensuring that the electoral process is seamless for every student and institution.
                </p>
            </div>

            <!-- {/* SECOND */} -->
            <div class='flex flex-col items-center w-full text-center'>
                <img src="{% static 'icons/rocket.svg' %}" class="mb-4" alt="">
                <h1 class='mb-2 text-3xl font-semibold'>
                    Our Mission
                </h1>
                <p class='text-xl font-medium'>
                    Our mission is to transform the way student elections are conducted by providing a platform that makes voting 
                    accessible, secure, and transparent. We are committed to empowering students by simplifying the voting process 
                    and enhancing their engagement in school governance.
                </p>
            </div>

            <!-- {/* THIRD */} -->
            <div class='flex flex-col items-center w-full text-center'>
                <img src="{% static 'icons/star.svg' %}" class="mb-4" alt="">
                <h1 class='mb-2 text-3xl font-semibold'>
                    Our Values
                </h1>
                <p class='text-xl font-medium'>
                    At ElectEd, we uphold the highest standards of integrity, ensuring that every election is conducted with transparency and security. 
                    We believe in accessibility, striving to make sure every student has the opportunity to participate, regardless of their location or 
                    technical skills. Our commitment to innovation drives us to stay at the forefront of technology, constantly improving our platform to 
                    provide the best voting experience possible.
                </p>
            </div>
        </div>
    </div>



        <!-- {/* JOIN OUR TEAM */} -->
    <div class='flex flex-col items-center justify-center py-24 text-center bg-gradient-to-r from-dmaroon to-maroon text-white2'>
        <div class='container'>
        <h1 class='text-6xl font-bold mb-7'>Join Our Team</h1>

        <p class='mb-4 text-xl font-medium'>
            Be part of a dynamic group dedicated to revolutionizing student elections with innovative technology and a commitment to excellence.
        </p>

        <button class='px-8 py-2 text-xl font-bold rounded-full bg-white2 text-maroon'>
            JOIN OUR TEAM
        </button>
        </div>
    </div>

</section>
{% endblock %}