{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us {% endblock %}

{% block content %}
    <section>
        <!-- BACKGROUND -->
        <div class="absolute inset-0 w-full h-full -z-10">
            <img 
                src="{% static 'landingpics/contactusbg.png' %}" 
                alt="Contact Us Background" 
                class="object-cover w-full h-full"
            />
        </div>
  
            <!-- {/* GREETINGS */} -->
        <div class="h-full w-[70%] mx-auto pb-40 pt-42 text-maroon">
            <h1 class='text-6xl font-bold'>Hello.</h1>
            <p class='text-2xl font-semibold'>
                Got a question? We're here to help!
            </p>
        </div>

        <!-- {/* FORM */} -->
        <div class='p-16 bg-gradient-to-r from-dmaroon to-maroon'>
            <form 
                method="post" 
                class="container flex flex-col gap-6 p-10 bg-white2/90 text-itom rounded-xl"
            >

                <!-- {/* INPUT */} -->
                <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
                    <!-- {/* 1st */} -->
                    <div>
                        <p class='font-semibold'>FIRST NAME</p>
                        <input type="firstname" placeholder="eg. John" class='w-full px-4 py-1 bg-transparent border-2 rounded-xl border-itom/50'/>
                    </div>

                    <!-- {/* 2nd */} -->
                    <div>
                        <p class='font-semibold'>LAST NAME</p>
                        <input type="lastname" placeholder="eg. Doe" class='w-full px-4 py-1 bg-transparent border-2 rounded-xl border-itom/50'/>
                    </div>

                    <!-- {/* 3rd */} -->
                    <div>
                        <p class='font-semibold'>EMAIL</p>
                        <input type="email" placeholder="eg. johndoe@gmail.com" class='w-full px-4 py-2 bg-transparent border-2 rounded-xl border-itom/50'/>
                    </div>

                    <!-- {/* 4th */} -->
                    <div>
                        <p class='font-semibold'>PHONE NUMBER</p>
                        <input type="number" placeholder="eg. 09212321" class='w-full px-4 py-2 bg-transparent border-2 rounded-xl border-itom/50'/>
                    </div>
                    
                </div>

                <div>
                    <p class='font-semibold'>ORGANIZATION</p>
                    <input type="text" placeholder='eg. Cebu Institute of Technology - University' class='w-full px-4 py-2 bg-transparent border-2 rounded-xl border-itom/50'/>
                </div>
                
                <!-- {/* TEXTAREA */} -->
                <div>
                    <p class='font-semibold'>YOUR MESSAGE</p>
                    <textarea 
                        name="" 
                        class="h-[200px] w-full bg-transparent border-2 border-itom/50 rounded-xl py-2 px-4" 
                        placeholder="Type your message here" id=""/>
                    </textarea>
                    <!-- <textarea class="h-[200px] w-full bg-transparent border-2 border-itom/50 rounded-xl py-2 px-4" placeholder="Type your message here."/> -->
                </div>

                    <!-- {/* BUTTON */} -->
                <button class="items-center px-12 py-2 mx-auto font-bold rounded-full shadow-md bg-white2 text-maroon">
                    Contact Us
                </button>
            </form>

        </div>
    </section>
{% endblock %}